{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">Bookmarks</span>
    {% if request.user.is_authenticated %}
      <ul class="menu">
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url 'account:dashboard' %}">My dashboard</a>
        </li>
        {% if request.user.profile.is_admin %}
          <li {% if section == "admin_dashboard" %}class="selected"{% endif %}>
            <a href="{% url 'account:admin_dashboard' %}">Admin Dashboard</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
    {% if request.user.is_authenticated %}
      <div class="user-footer">
        <div class="user-info">
          Hello {{ request.user.first_name|default:request.user.username }},
          <form action="{% url 'account:logout' %}" method="post">
            <button type="submit">Logout</button>
            {% csrf_token %}
          </form>
        </div>
      </div>
    {% else %}
      <span class="user">
        <a href="{% url 'account:login' %}">Log-in</a>
      </span>
    {% endif %}
  </div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
