{% extends "base.html" %}
{% load static %}
{% block title %}Create an account{% endblock %}
{% block content %}
  <h1>Create an account</h1>
  <p>Please, sign up using the following form:</p>
  <form method="post">
    {% csrf_token %}
    {% for field in user_form %}
      <div class="form-field">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
          {% if field.field.required %}
            <span class="required-asterisk">*</span>
          {% endif %}
        </label>
        {{ field }}
        {% if field.errors %}
          <div class="field-errors">
            {{ field.errors }}
          </div>
        {% endif %}
        {% if field.help_text %}
          <div class="field-help">
            {{ field.help_text }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="form-actions">
      <input type="submit" value="Create my account">
    </div>
  </form>
{% endblock %}
